*{
    margin: 0;
    padding: 0;
}

body{
    background-color: darkseagreen;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.box{
    height: 120px;
    width: 120px;
    margin: 6px;
    outline: none;
    border: none;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.253);

    font-size: 55px;

}


.box:hover{
    cursor: pointer;
    transform: translateY(-2px);
    transition: all 0.3s ease;
}

.boxes{

    max-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 80px;
}

h1{
    font-size: 100px;
    
}

.resetBtn{
    font-size: 30px;
    background-color: darkgreen;
    color: white;
    padding: 10px;
    border-radius: 20px;
    border: none;
    outline: none;
    cursor: pointer;
}

.resetBtn:hover{
    transition: all 0.3s ease-in-out;
    transform: translateY(-1.5px);
    scale: 1.02;
}